*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --wisteria: #c1a9d9;
    --Metallic: #5317a6;
    --dark-pastel:#9E82D9;
    --Cetacean-blue: #010440;
}

body{
    background-color: rgb(237, 237, 231);
    max-width: 90%;
    margin-inline: auto;
}
/* page-title */
.page-title{
    padding-top: 5%;
    text-align: center;
    color: #3c3636;
}

/* information-container */
.information-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
  
    padding-inline: 10%;
    padding-block:7% ;
}

.right p{
    line-height: 1.5;
    text-align: justify; 
    color: black;

}
.right{
    grid-column: 2 / span3;
}

.left img{
    width: 90%;
    border-radius: 3%;
}
.NameM{
    font-size: 1.1rem;
    font-weight: 600;
   
}
/* skills */

.title-skill{
    margin-bottom: 16px; 
    text-align: center;
    color: #05072f;
}

.my-skills{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2.2rem;
    padding-inline: 10%;
    margin-top: 10px;

}

.full-stack ul li{
    line-height: 1.5;
    color: black;

}
.full-stack ul li p{
    color: #40011e;
}
 
.Experience  {
    color: #05072f;
    text-align: justify;
    line-height: 1.5;

}
h3{
    margin-bottom: 10px;
    color: #011C40;
}

.project ul li {
    color: #05072f;
    text-align: justify;
    line-height: 1.5;

}

.page-welcom{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style:  oblique;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 25px;
    text-align: center;
}

.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-inline: 10%;
    background-color: #14173f;
    color: white;
    transition: all 0.3s ease;
}

.footer ul li {
    list-style: none;
   
}

.f-titles{
    color: #f1ebeb;
    padding: 8px ;
    margin-top: 3px;

}

.fa-brands, .fa-solid, .fa {
    color: whitesmoke;
}








/* screen large */
@media (min-width:1200px) {

    .information-container{
        grid-template-columns: 1fr;

    }
    
}
/* screen tablet */
@media (min-width:768px) {

    .information-container{
        grid-template-columns: repeat(2,1fr);

    }
    
}

/* screen phones */
@media (max-width:480px) {

    .information-container{
        grid-template-columns: 1fr;

    }
    
}



